{#
/**
 * @file
 * Default template for a field.
 */
#}
<div class="section-main-div">
  {% for item in items|slice(0, 3) %}
    {{ item.content }}
  {% endfor %}
  <div class="section-margin-div">
    {% for item in items|slice(3, length) %}

      {{ item.content }}

    {% endfor %}
  </div>
</div>

